/* Background */

.bstrap-navbar-default {
	background-color:#f8f8f8!important;
}

.white-background {
	background:rgb(255,255,255) !important;
}

.light-background {
	background:rgb(248,248,248);
}

.faded-75 {
	opacity:0.75;
}

/* Font */

.black-font {
	color:black !important;
}

.grey-font {
	color:grey !important;
}

.size-11 {font-size:11px !important;}
.size-13 {font-size:13px;}
.size-15 {font-size:15px;}
.size-17 {font-size:17px;}
.size-20 {font-size:20px;}
.size-22 {font-size:22px;}
.size-25 {font-size:25px;}

.bold {font-weight:bold;}
.font-light {font-weight:200;}
.text-center {text-align:center;}

/* Spacing */

.center-align {
	margin:0 auto;
}

.full-width {
	width:100% !important;
}

.quarter-width {
	width:25% !important;
}

.majority-width {
	width: 75% !important;
}

.full-height {
	height:100%;
}

.overflow-y {
	overflow-y:auto;
	word-wrap:break-word;
}

.margin-5 {
	margin:5px !important;
}

.margin-10 {
	margin:10px !important;
}

.margin-15 {
	margin:15px !important;
}

.bottom-5 {
	margin-bottom:5px !important;
}

.bottom-10 {
	margin-bottom:10px !important;
}

.top-1 {margin-top:1px !important;}
.top-3 {margin-top:3px !important;} 
.top-5 {margin-top:5px !important;} 
.top-6 {margin-top:6px !important;} 
.top-7 {margin-top:7px !important;} 
.top-8 {margin-top:8px !important;} 
.top-10 {margin-top:10px !important;}
.top-15 {margin-top:15px !important;}
.top-45 {margin-top:45px !important;}

.top-bottom-5 {
	margin-top:5px;
	margin-bottom:5px;
}

.top-bottom-10 {
	margin-top:10px !important;
	margin-bottom:10px !important;
}

.top-bottom-15 {
	margin-top:15px !important;
	margin-bottom:15px !important;
}

.top-bottom-20 {
	margin-top:20px !important;
	margin-bottom:20px !important;
}

.left-right-none {
	margin-left:0 !important;
	margin-right:0 !important;
}

.left-right-3 {
	margin-left:3px !important;
	margin-right:3px !important;
}

.left-right-5 {
	margin-left:5px !important;
	margin-right:5px !important;
}

.left-right-10 {
	margin-left:10px !important;
	margin-right:10px !important;
}

.left-5 {margin-left:5px !important;}
.left-10 {margin-left:10px !important;}
.left-15 {margin-left:15px !important;}
.left-20 {margin-left:20px !important;}

.right-5 {margin-right:5px !important;}
.right-10 {margin-right:10px !important;}
.right-15 {margin-right:15px !important;}
.right-20 {margin-right:20px !important;}

.padding-rect-10 {
	padding-left:10px !important;
	padding-right:10px !important;
	padding-top:7px !important;
	padding-bottom:6px !important;
}

.padding-3 {padding:3px !important;}
.padding-5 {padding:5px !important;}
.padding-10 {padding:10px !important;}
.padding-15 {padding:15px !important;}

.padding-left-5 {
	padding-left:5px !important;
}

.padding-left-right-15 {
	padding-left:15px !important;
	padding-right:15px !important;
}

.padding-left-right-25 {
	padding-left:25px !important;
	padding-right:25px !important;
}

.padding-left-right-0 {
	padding-left:0px !important;
	padding-left:0px !important;
}

.padding-bottom-10 {padding-bottom:10px !important;}

.height-50-percent {
	height:50% !important;
}

.height-100-percent {
	height:100% !important;
}

.width-100-percent {
	width:100% !important;
}

/* Border */

.border-none {border:none !important;}

.border-radius-1 {
	border-radius:1px !important;
}

.border-radius-2 {
	border-radius:2px !important;
}

.border-bottom-1 {
	border-top:none !important;
	border-left:none !important;
	border-right:none !important;
	border-bottom:1px solid lightgrey !important;
}

.border-bottom-dotted-1 {
	border-top:none !important;
	border-left:none !important;
	border-right:none !important;
	border-bottom:1px dotted lightgrey !important;
}

.border-top-1 {
	border-top:1px solid lightgrey;
}

.border-top-dotted-1 { 
	border-top:1px dotted lightgrey;}

.border-1 {
	border:1px solid lightgrey !important;
}

.border-2 {
	border:2px solid lightgrey !important;
}

.border-grey-1 {
	border:1px solid grey !important;
}

.border-circle {
	border-radius:100% !important;
}

.shadow-inset-5 {
	box-shadow:inset 0 0 5px 1px lightgrey;
}

.shadow-1 {
	box-shadow:0 0 1px 1px lightgrey;
}

.shadow-5 {
	box-shadow: 0 0 5px 1px lightgrey;
}

.shadow-10 {
	box-shadow:0 0 10px 1px lightgrey;
}

/* Button */

.bright-button {
	border-radius:2px !important;
	box-shadow:inset 0 0 1px 1px white;
	color:white;
}

/* Cursor */

.cursor-pointer {
	cursor:pointer !important;
}

/* Dropdown */

.dropdown-right-arrow:after, .dropdown-right-arrow:before {
		bottom: 100%;
		left: 88%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.dropdown-right-arrow:before {
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: lightgrey;
		border-width: 11px;
		margin-left: -16px;
	}

	.dropdown-right-arrow:after {
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #FFFFFF;
		border-width: 10px;
		margin-left: -15px;
	}

.dropdown-left-arrow:after, .dropdown-left-arrow:before {
		bottom: 100%;
		left: 25%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.dropdown-left-arrow:before {
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: lightgrey;
		border-width: 11px;
		margin-left: -16px;
	}

	.dropdown-left-arrow:after {
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #FFFFFF;
		border-width: 10px;
		margin-left: -15px;
	}

.dropdown-menu li div {
	cursor:pointer;
}

.dropdown-menu li div:hover {
	background:rgb(240,240,240) !important;
}

/* Utilities */

.wrap-word {
	word-break:break-word;
}

