<div class="container-fluid" style="margin-top:50px;">
	<div class="row">
		
		<div class="col-sm-4"></div>
		<div class="col-sm-4" style="background:#f8f8f8; border:1px solid lightgrey;">

			<form class="navbar-form navbar-left full-width" role="search">
        <div class="top-bottom-10">
          <input type="text" class="form-control full-width" placeholder="Title">
        </div>
				<div class="top-bottom-10">
          <input type="text" class="form-control full-width" placeholder="Date">
        </div>
				<div class="top-bottom-10">
          <input type="text" class="form-control full-width" placeholder="Time">
        </div>
				<div class="top-bottom-10">
          <input type="text" class="form-control full-width" placeholder="Start (Required)">
        </div>
				<div class="top-bottom-10">
          <input type="text" class="form-control full-width" placeholder="End (Optional)">
        </div>
        <div class="form-group full-width top-bottom-10">
          <textarea class="form-control full-width" 
          	rows="10" placeholder="Description"></textarea>
        </div>
        <div class="row-fluid top-bottom-10">
        	<button class="btn btn-success">Create</button>
        </div>
      </form>	
		</div>
		<div class="col-sm-4"></div>

	</div>
</div>
