<div class="panel-group" style="margin-left:250px; margin-right:250px;">
    <div class="panel panel-default" style="margin-bottom:20px">
		<div class="panel-heading">
			<a href="#" ng-click="changePage($event, StateConst.VIEW_PUBLIC_WALK)">Walk #1</a>
		</div>
		<div class="panel-body">
			<img style="height:200px; width:200px"src="http://www.nycgovparks.org/photo_gallery/full_size/18628.jpg"></img>
			<div style="display:inline-block; vertical-align:top">
				<div style="padding:5px">Walk Creator Name</div>
				<div style="padding:5px">Description</div>
				<div style="padding:5px">Comments/Ratings</div>
				<div style="padding:5px"><a href="#">Start this Walk</a></div>
			</div>
		</div>
	  </div>	
	  
    <div class="panel panel-default" style="margin-bottom:20px">
		<div class="panel-heading">
			<a href ="#" ng-click="changePage($event, StateConst.VIEW_PUBLIC_WALK)">Walk #2</a>
		</div>
		<div class="panel-body">
			<img style="height:200px; width:200px"src="http://www.nycgovparks.org/photo_gallery/full_size/18628.jpg"></img>
			<div style="display:inline-block; vertical-align:top">
				<div style="padding:5px">Walk Creator Name</div>
				<div style="padding:5px">Description</div>
				<div style="padding:5px">Comments/Ratings</div>
				<div style="padding:5px"><a href="#">Start this Walk</a></div>
			</div>	 
		</div>	
    </div>
    
    <div class="panel panel-default" style="margin-bottom:20px">
		<div class="panel-heading">
			<a href ="#" ng-click="changePage($event, StateConst.VIEW_PUBLIC_WALK)">Walk #3</a></div>
		<div class="panel-body">
			<img style="height:200px; width:200px"src="http://www.nycgovparks.org/photo_gallery/full_size/18628.jpg"></img>
			<div style="display:inline-block; vertical-align:top">
				<div style="padding:5px">Walk Creator Name</div>
				<div style="padding:5px">Description</div>
				<div style="padding:5px">Comments/Ratings</div>
				<div style="padding:5px"><a href="#">Start this Walk</a></div>
			</div>	 
		</div>			
</div>
