<div class="container-fluid">
	<div class="row">
		
		<div class="col-sm-4 col-md-3"></div>
		<div class="col-sm-4 col-md-6">
			<div class="row-fluid top-bottom-10">
				<div class="top-bottom-10">
					<h2>Walk (#12345)</h2>
				</div>
				<div class="top-bottom-10">
					<h4>Date: April 1</h4>
					<h4>Time: 12 AM</h4>
				</div>
			</div>

			<div class="col-md-6">
				<a href="#" class="thumbnail">
					<img src="http://images.akamai.steamusercontent.com/ugc/25087975291817161/4B01A1274CA990A3577CC37E1DAA72F88DE353F8/" alt="...">
				</a>
			</div>
			<div class="col-md-6">
				<a href="#" class="thumbnail">
					<img src="http://images.akamai.steamusercontent.com/ugc/25087975291817161/4B01A1274CA990A3577CC37E1DAA72F88DE353F8/" alt="...">
				</a>
			</div>
			<div class="col-md-6">
				<a href="#" class="thumbnail">
					<img src="http://images.akamai.steamusercontent.com/ugc/25087975291817161/4B01A1274CA990A3577CC37E1DAA72F88DE353F8/" alt="...">
				</a>
			</div>

			<div class="col-md-6">
				<a href="#" class="thumbnail">
					<img src="http://images.akamai.steamusercontent.com/ugc/25087975291817161/4B01A1274CA990A3577CC37E1DAA72F88DE353F8/" alt="...">
				</a>
			</div>
			
			<div class="container-fluid col-md-12 padding-10">
				<button class="btn btn-default border-radius-1">Add Photo</button>
			</div>

			<div class="container-fluid col-md-12 padding-10 border-top-1">
				<button class="btn btn-default border-radius-1">Invite Friend</button>
				<div class="row-fluid padding-10">
					<a href="#" ng-click="changePage($event, StateConst.PROFILE)">
						John
					</a>
				</div>
			</div>

			<div class="container-fluid col-md-12 padding-10 border-top-1">
				<h3>Create as Event</h3>
				<button class="btn btn-default border-radius-1">
					<span class="glyphicon glyphicon-ok"></span>
				</button>
				<div class="top-bottom-10">(Other people will be able to join the walk)</div>
			</div>

			<!-- Comments Start -->
			<div class="container-fluid col-md-12 border-top-1 padding-10">
				<button class="btn btn-primary border-radius-1">
					<span class="glyphicon glyphicon-plus"></span>
					Add Tag
				</button>
			</div>
			<!-- Comments End -->
		
			<iframe class="top-bottom-10" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d195.0499829917903!2d-121.7614457!3d38.5383845!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80ead37f7489fa3f%3A0xecbfbb24087e8334!2sUniversity+of+California%2C+Davis!5e0!3m2!1sen!2sus!4v1434337832584" width="100%" height="100%" frameborder="0" style="border:0"></iframe>

			<div class="container-fluid col-md-12 border-top-1 padding-10">
				<button class="btn btn-danger border-radius-1">
					<span class="glyphicon glyphicon-remove"></span>
					Delete
				</button>
			</div>
		</div> <!-- center -->
		<div class="col-sm-4 col-md-3"></div>

	</div>
</div>
