<style>
	.top-bottom-10 {
		margin-top:10px !important;
		margin-bottom:10px !important;
	}
</style>

<body>
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<div class="jumbotron" style="background:#f8f8f8; border:solid 1px lightgrey;">
			<div class="container-fluid">
				<div class="col-md-6">
					<a href="#" class="thumbnail">
						<img src="https://www.arborday.org/trees/images/hero-tree-id.jpg" alt="...">
					</a>
				</div>
				<div class="col-md-6">
					<p><h2>Amazing Me</h2></p>
					<div class="row-fluid" style="margin-left:15px;">
						<div class="row-fluid top-bottom-10">
							San Francisco Bay Area
						</div>
						<div class="row-fluid top-bottom-10">123 followers</div>
						<div class="row-fluid top-bottom-10">
							Status: Amazing Walk 2
						</div>
						<div class="row-fluid">
							<button class="btn btn-default" style="border-radius:1px;">Follow</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Personal Walks -->
		<div class="container-fluid" ng-repeat="walk in PersonalWalksModel">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3>
						<a href="#" ng-click="changePage($event, StateConst.VIEW_PRIVATE_WALK)">
							{{walk.title}}
						</a>
					</h3>
					<p>
						Created By:
						<a href="#" ng-click="changePage($event, StateConst.PROFILE)">
							{{walk.creator}}
						</a>
					</p>
					<p>
						{{walk.description}}
					</p>
				
					<button ng-if="!walk.is_shared"
						class="pull-right btn btn-primary border-radius-1 left-5">
						Post
					</button>
					<button ng-if="walk.is_shared"
						class="pull-right btn btn-primary border-radius-1 left-5">
						Un-Post
					</button>
					<button ng-if="!walk.is_started"
						class="pull-right btn btn-primary border-radius-1">
						Start
					</button>
					<button ng-if="walk.is_started"
						class="pull-right btn btn-primary border-radius-1">
						Stop
					</button>

				</div>
			</div>
		</div>

	</div>
	<div class="col-md-3"></div>
</body>
