<div class="container-fluid">
	<div class="row">
		
		<div class="col-sm-4 col-md-3"></div>
		<div class="col-sm-4 col-md-6">
			<div class="row-fluid top-bottom-10">
				<div class="top-bottom-10">
					<h2>{{PublicWalk.title}} (#{{PublicWalk.id}})</h2>
				</div>
				<div class="top-bottom-10">
					<h4>Date: {{PublicWalk.date}}</h4>
					<h4>Time: {{PublicWalk.time}}</h4>
				</div>
			</div>

			<div class="col-md-6" ng-repeat="photo in PublicWalk.photos track by $index">
				<a href="#" class="thumbnail">
					<img src="{{photo}}" alt="...">
				</a>
			</div>
			
			<div class="container-fluid col-md-12 padding-10 border-top-1">
				<div class="row-fluid top-bottom-10">
					<button class="btn btn-default border-radius-1 ">
						Add Photo	
					</button>
				</div>
				<div class="row-fluid top-bottom-10">
					<h3>Attending Members:</h3>
					<div class="padding-10" ng-repeat="member in PublicWalk.members">
						<a href="#" ng-click="changePage($event, StateConst.PROFILE)">
							{{member}}
						</a>
						<button class="btn btn-default border-radius-1 pull-right">
							Locate
						</button>
					</div>
				</div>

				<div class="row-fluid padding-10 border-top-1">
					Join:
					<button class="btn btn-default border-radius-1 pull-right">
						I'm Going!
					</button>
				</div>

				<div class="row-fluid padding-10">
				 {{PublicWalk.likes}} Likes
					<button class="btn btn-default border-radius-1">
						<span class="glyphicon glyphicon-thumbs-up"></span>
					</button>
				</div>

				<div class="row-fluid padding-10">
					Tags: 
					<button class="btn btn-default border-radius-1 left-5"
						ng-repeat="tag in PublicWalk.tags">
						{{tag}}
					</button>
				</div>
			</div>

			<!-- Comments Start -->
			<div class="container-fluid col-md-12 border-top-1 padding-10">
				<div class="form-group full-width top-bottom-10">
          <textarea class="form-control full-width border-radius-1" 
          	rows="5" placeholder="I think this walk is..."></textarea>

					<button class="btn btn-primary border-radius-1 top-bottom-10">
						<span class="glyphicon glyphicon-comment"></span>
						Comment
					</button>

        </div>
				
				<div class="container-fluid " 
					ng-repeat="c in PublicWalk.comments">
					<div class="panel panel-default">
						<div class="panel-body">
							<p>
								<a href="#" ng-click="changePage($event, StateConst.PROFILE)">
									{{c.posted_by}}
								</a>
							</p>
							<p>
								{{c.comment}}
							</p>
						</div>
					</div>
				</div>

			</div>
			<!-- Comments End -->

			<iframe class="top-bottom-10" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d195.0499829917903!2d-121.7614457!3d38.5383845!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80ead37f7489fa3f%3A0xecbfbb24087e8334!2sUniversity+of+California%2C+Davis!5e0!3m2!1sen!2sus!4v1434337832584" width="100%" height="100%" frameborder="0" style="border:0"
		</div> <!-- center -->
		<div class="col-sm-4 col-md-3"></div>

	</div>
</div>
