<div class="col-md-3"></div>
<div class="col-md-6">
	<div class="container-fluid" ng-repeat="result in SearchModel">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3>
				<a href="#" ng-click="changePage($event, StateConst.VIEW_PUBLIC_WALK)">
					{{result.title}}
				</a>
				</h3>
				<p>
					Created By:
					<a href="#" ng-click="changePage($event, StateConst.PROFILE)">
						{{result.created_by}}
					</a>
				</p>
				<p>
					<a href="#">
						Start this Walk
					</a>
				</p>
				<p>
					{{result.description}}
				</p>
			</div>
		</div>
	</div>
</div>

<div class="col-md-3"></div>
