<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" 
      	ng-click="changePage($event, StateConst.HOME)">
      	Amazing
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="Search"
          	ng-enter="search($event, StateConst.SEARCH)" placeholder="Search Walk">
        </div>
      </form>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" ng-click="changePage($event, StateConst.CREATE_WALK)">Create Walk</a></li>
        <li class="dropdown">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
          	aria-haspopup="true" aria-expanded="false">
          	Amazing Me 
          </a>

          <ul class="dropdown-menu">
    				<li><a href="#" ng-click="changePage($event, StateConst.PROFILE)">Profile</a></li>
						<li role="separator" class="divider"></li>
<!-- 						
						<li><a href="#">Account Settings</a></li>
						<li role="separator" class="divider"></li>
-->
						<!-- <li><a href="views/login/index.html">Signin</a></li> -->
						<li><a href="#" ng-controller="CDELoginCtrl" cde-login ng-click="login()">Signin</a></li>
          </ul>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
