<head>
	<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://code.angularjs.org/1.4.4/angular.min.js"></script>
	<script src="https://apis.google.com/js/client.js"></script>

	<script src="scripts/app.js"></script>
	<script src="scripts/controller.js"></script>
	<script src="scripts/page-state.js"></script>

	<script src="scripts/models/search.js"></script>
	<script src="scripts/models/personal-walks.js"></script>
	<script src="scripts/models/public-walk.js"></script>

	<script src="scripts/utils/ng-enter.js"></script>
	<script src="lib/CDELogin.js"></script>

	<link href="styles/styles.css" rel="stylesheet" />
</head>
 
<body ng-app="hw2" ng-controller="AppCtrl">

	<ng-include src="'header.html'"></ng-include>

	<ng-include src="'views/home.html'" ng-if="PageState === StateConst.HOME"></ng-include>
	<ng-include src="'views/profile.html'" ng-if="PageState === StateConst.PROFILE"></ng-include>
	<ng-include src="'views/create-walk.html'" ng-if="PageState === StateConst.CREATE_WALK"></ng-include>
	<ng-include src="'views/private-walk.html'" ng-if="PageState === StateConst.VIEW_PRIVATE_WALK"></ng-include>
	<ng-include src="'views/public-walk.html'" ng-if="PageState === StateConst.VIEW_PUBLIC_WALK"></ng-include>
	<ng-include src="'views/search.html'" ng-if="PageState === StateConst.SEARCH"></ng-include>

</body>
